*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #e6eefe;
}
.father{
    background-color: white;
    text-align: center;
    width: 94%;
    height: 640px;
    transform: translateX(46px);
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    
}
.son1{
    background-color:#e6eefe ;
    width: 45%;
    height: 560px;
    border-radius: 10px;
}
.chath{
    padding-top: 6%;
    padding-right: 60%;
}
.buton{
    width: 180px;
    height: 40px;
    border: none;
    background-color: rgb(253, 251, 251);
    border-radius: 5px;
    transition-duration: 0.5s; 
    margin-top: 4%;
    margin-right: 52%;
}
.buton::placeholder{
    display: flex;
    text-align: center;
    justify-content: center;
}
.buton:hover{
    box-shadow: 0 0 5px 2px rgb(238, 125, 125);
    border: 2px solid  rgb(238, 125, 125) ;

}
.buton:focus{
    box-shadow: 0 0 5px 2px rgb(238, 125, 125);

}
.son1 i{
    color: gray;
    transform: translateX(-460px);
   
}
.person1{
    display:flex;

    padding-left: 7%;
    padding-top: 1%;

}
.clinth{
    font-size: 20px;
    padding-top: 2%;
    padding-left: 3%;
}
.clintp{
    margin-top: 5%;
    font-size: 15px;
    transform: translateX(-38%);
}
.person2{
    display:flex;

    padding-left: 7%;
    padding-top: 1%;

}
.clinth{
    font-size: 20px;
    padding-top: 2%;
    padding-left: 3%;
}
.clintp{
    margin-top: 5%;
    font-size: 15px;
    transform: translateX(-38%);
}
.person3{
    display:flex;

    padding-left: 7%;
    padding-top: 1%;

}
.clinth{
    font-size: 20px;
    padding-top: 2%;
    padding-left: 3%;
}
.clintp{
    margin-top: 5%;
    font-size: 15px;
    transform: translateX(-38%);
}
.person4{
    display:flex;

    padding-left: 7%;
    padding-top: 1%;

}
.clinth{
    font-size: 20px;
    padding-top: 2%;
    padding-left: 3%;
}
.clintp{
    margin-top: 5%;
    font-size: 15px;
    transform: translateX(-38%);
}
.person5{
    display:flex;

    padding-left: 7%;
    padding-top: 1%;

}
.clinth{
    font-size: 20px;
    padding-top: 2%;
    padding-left: 3%;
}
.clintp{
    margin-top: 5%;
    font-size: 15px;
    transform: translateX(-38%);
}




.son2{
    background-color:#e6eefe ;
    width: 45%;
    height: 560px;
    border-radius: 10px;
    position: relative;
}
.img1{
    display:flex;

    padding-left: 7%;
    padding-top: 4%;

}
.son2 h1{
    font-size: 20px;
  position: absolute;
  top: 7%;
  left: 23%;
}
.son2 p{
    position: absolute;
  top: 12%;
  left: 23%;
}
.pargraph{
    background-color: rgb(255, 243, 228);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 25%;
    left: 7%;
}
.pargraph p{
    font-size: 19px;
    position: absolute;
    left: 4%;
}
.img2{
    padding-top: 33%;
    padding-left: 75%;

}
.travor{
    font-size: 20px;
    padding-top: 45%;
    padding-left: 30%;
   
}
.pargraph1{
    background-color: rgb(255, 243, 228);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 70%;
    left: 7%;
}
.pargraph1 p{
    font-size: 19px;
    position: absolute;
    left: 4%;
}
.yesterday{
    position: absolute;
    top:60% ;
    left: 75%;

}